.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.name {
  position: relative;
  top: 200px;
  width: 500px;
  height: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nameForm {
  width: 450px;
}

.inputFirst {
  width: 450px;
  height: 30px;
}
.inputLast {
  width: 450px;
  height: 30px;
}
.nameSubmit {
  width: 450px;
  height: 30px;
}
.wheels {
  position: relative;
  top: 200px;
  width: 500px;
  height: 250px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.wheelForm {
  width: 450px;
}

.wheelFirst {
  width: 450px;
  height: 30px;
}
.wheelLast {
  width: 450px;
  height: 30px;
}
.wheelSubmit {
  width: 450px;
  height: 30px;
}
.type {
  position: relative;
  top: 200px;
  width: 500px;
  height: 250px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: auto;
}
.vehicleType {
  width: 450px;
}
.typeSubmit {
  width: 450px;
  height: 30px;
}
.insideType {
  height: 130px;
  overflow: auto;
}
.model {
  position: relative;
  top: 200px;
  width: 500px;
  height: 250px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.date {
  position: relative;
  top: 200px;
  width: 500px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
